body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px;
}

#parrafo1 {
  color: white;
  position: fixed;
  right: 300px;
  top: 10px; 
  font-size: 2em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(31, 179, 31);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
}

#imagen {
    height: 250px;
    margin-right: 20px;
    margin-top: 20px;
}

.sidebar {
    position: fixed;
    top: 200px;
    left: 10px;
    width: 200px;
}

.container {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    width: 180px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
}

#dateInput {
  display: none;  
}

#fechaBtn {
  position: fixed;
  top: 375px;
  left: 20px;
  padding: 7px 20px;
  cursor: pointer;
}

#selectedDate {
  position: fixed;
  top: 385px;    
  left: 120px;   
  font-family: Arial, sans-serif;
  text-align: left; 
}

.producto.seleccionado {
    border: 2px solid green;
    background-color: #e7ffe7;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}

